//
// Links
//

a {
  color: inherit;
}

@mixin blank-link {
  text-decoration: none;
  border-bottom: 0;
}
.blank-link { @include blank-link; }

@mixin blank-link-hover {
  @include blank-link;

  @include breakpoint(sm) {
    &:hover {
      border-bottom: 1px solid;
    }
  }
}
.blank-link-hover { @include blank-link-hover; }

@mixin default-link {
  @include blank-link;
  font-style: italic;
}
.default-link { @include default-link; }
