//
// Approaches module
//

.approaches {
  margin: 4em auto 0;
  text-align: center;
  width: 80%;
  max-width: 570px;

  @include breakpoint(sm) {
    width: auto;
    margin-top: 150px;
  }

  @include breakpoint(xl) {
    max-width: 640px;
  }
}

.approach {
  margin-bottom: 0.5em;

  &:before {
    content: '';
    width: 2px;
    height: 10em;
    background: $white;
    display: block;
    margin: 0.75em auto;
  }

  &:first-child {
    &:before {
      content: none;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.approach__index {
  display: inline-block;
  border: 2px solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  margin-bottom: 5px;
}

.approach__index__number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.approach__title {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
