//
// Footer
//

html,
body {
  height: 100%;
}

$footer-push-height: 300px;

.footer-push-wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto (-$footer-push-height);
}

.footer,
.footer-push {
  height: $footer-push-height;
}

.footer {
  position: relative;
  margin: 0;
}

.footer__content {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
}

.footer__social {
  margin-top: 2px;

  @include breakpoint(sm) {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
  }
}

.footer__social__item {
  margin-left: 7px;

  @include breakpoint(sm) {
    margin-left: $gutter;
  }
}
