//
// Header
//

.nav,
.nav .menu-item {
  display: inline-block;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $black;
  padding-top: 11px;
  height: $header-height-mobile;
  z-index: 10;

  a {
    @include blank-link;
  }

  .single-project & {
    background-color: $white;
  }

  @include breakpoint(sm) {
    height: $header-height;
  }
}

.header-push {
  height: $header-height-mobile;
  margin-bottom: 90px;

  @include breakpoint(sm) {
    height: $header-height;
    margin-bottom: 180px;
  }
}

.nav {
  @include breakpoint(xs) {
    display: block;
    margin-top: 2px;

    .menu-item {
      margin-right: 7px;
    }
  }
}

.menu {
  @include blank-list;

  @include breakpoint(sm) {
    position: absolute;
    top: 0;
    right: $gutter;

    .menu-item {
      margin-left: 30px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@include breakpoint(xs) {
  .nav {
    display: none;
    background-color: $black;

    .menu-item {
      display: block;
      margin: 1em 0;
    }
  }

  .menu-main-menu-container {
    margin-bottom: 1em;
    border-bottom: 1px solid $white;
  }

  .mobile-nav-active {
    .nav {
      display: block;
    }
  }
}

.hamburger,
.mobile-nav-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 9px 20px;
  z-index: 1;
  cursor: pointer;

  @include breakpoint(sm) {
    display: none;
  }
}

.mobile-nav-close {
  display: none;
}

.mobile-nav-activating {
  .hamburger {
    display: none;
  }

  .mobile-nav-close {
    display: block;
  }
}

.mobile-nav-deactivating {
  .hamburger {
    display: block;
  }

  .mobile-nav-close {
    display: none;
  }
}
