//
// Header
//

.nav,
.nav .menu-item {
  display: inline-block;
}

.site-title {
  height: 32px;
  overflow: hidden;
  max-width: 290px;

  .interlace-initialized {
    margin-left: -15px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $black;
  padding-top: 11px;
  height: $header-height-mobile;
  z-index: 10;

  a {
    @include blank-link-hover;
  }

  .single-project & {
    background-color: $white;
  }

  @include breakpoint(sm) {
    height: $header-height;
  }
}

.header-push {
  height: $header-height-mobile;
  margin-bottom: 90px;

  @include breakpoint(sm) {
    height: $header-height;
    margin-bottom: 180px;
  }
}

.nav {
  @include breakpoint(xs) {
    display: block;
    margin-top: 2px;

    .menu-item {
      margin-right: 7px;
    }
  }
}

.menu {
  @include blank-list;

  @include breakpoint(sm) {
    position: absolute;
    top: 0;
    right: $gutter;

    .menu-item {
      margin-left: 30px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.current-menu-item,
.current_page_item {
  a {
    border-bottom: 1px solid;
  }
}
