//
// Home
//

.home-page-splash-area {
  height: 100vh;
  margin-bottom: 180px - $header-height - 20px;
}

.home-page-tagline-logo-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.interlaced-logo-wrapper {
  text-align: center;
  font-size: 18vw;
  width: 100%;
  line-height: 1;

  @include breakpoint(sm) {
    font-size: 10vw;
  }
}

.interlaced-logo {
  padding-bottom: 10px;
}

.home-page-tagline {
  max-width: 540px;
  margin: 1em auto 0;
  text-align: center;
  padding: 0 20px;

  @include breakpoint(xl) {
    max-width: 620px;
  }
}

.home-page-see-more {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  transition: opacity 0.4s;

  &.active {
    opacity: 0;
  }
}

.home-page-see-more__arrow {
  background-image: url(images/ui/arrow-down@2x.png);
  background-size: 28px 16px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 28px;
  height: 16px;
  margin: 10px auto 0;
}

.work-anchor-link {
  padding-top: $header-height + 20px;
}
