//
// Interlace and slice
//

// Interlace
.interlace {
  position: relative;
}

.interlace-item {
  position: relative;
  z-index: -1;

  &.active {
    color: transparent;
  }
}

.interlace-clone-wrapper,
.slice-clone-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  user-select: none;
}

.interlace-clone {
  position: relative;
  overflow: hidden;
}

.interlace-clone__content,
.slice-clone__content {
  position: relative;
}

// Slice
.slice-wrapper,
.slice-original-item {
  display: inline-block;
}

.slice-original-item {
  position: relative;
}

.slice-wrapper {
  position: relative;

  &.active {
    .slice-original-item {
      color: transparent;
    }
  }
}

.slice-wrapper--has-image {
  &.active {
    .slice-original-item {
      opacity: 0;
    }
  }
}

.slice-clone {
  overflow: hidden;
  padding: 0 10px;
  margin: 0 -10px;
}
