//
// Main
//

body {
  background-color: $black;
  color: $white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.single-project {
  background-color: $white;
  color: $black;
  -webkit-font-smoothing: auto;
}

.entry-title {
  margin-bottom: 1em;
}

.entry-content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint(xl) {
    max-width: 1020px;
  }
}
