//
// Main
//

body {
  background-color: $black;
  color: $white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.single-project {
  background-color: $white;
  color: $black;
  -webkit-font-smoothing: auto;
}

.entry-title {
  text-align: center;
  margin-bottom: $gutter;
}

.module {
  margin-bottom: 50px;
}
