//
// Main
//

body {
  background-color: $black;
  color: $white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.container-fluid {
  max-width: $site-max-width;
}

.single-project {
  background-color: $white;
  color: $black;
  -webkit-font-smoothing: auto;
}

.entry-title {
  margin-bottom: 1em;
}
