//
// Main
//

body {
  background-color: $black;
  color: $white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.single-project {
  background-color: $white;
  color: $black;
  -webkit-font-smoothing: auto;
}

.entry-title {
  margin-bottom: 1em;
}

.entry-content {
  margin-left: auto;
  margin-right: auto;

  a {
    @include default-link;
  }

  @include breakpoint(sm) {
    max-width: 60vw;
  }
}
