//
// Project index
//

.project-collage {
  position: relative;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint(sm) {
    width: 80%;
    margin-bottom: 240px;
  }

  @include breakpoint(lg) {
    margin-bottom: 320px;
  }
}

.project-collage-column {
  position: absolute;
  left: 0;
}

.project-collage__title-area {
  padding-bottom: 0px;

  @include breakpoint(md) {
    padding-bottom: 40px;
  }
}

.project-collage__title-area--desktop {
  display: none;
  @include breakpoint(md) {
    display: block;
  }
}

.project-collage__title-area--mobile {
  margin-bottom: -60px;

  @include breakpoint(md) {
    display: none;
  }
}

.project-collage__media {
  position: relative;
}

.collage-link {
  display: inline-block;
  text-decoration: none;
}

.project-collage__video {
  pointer-events: none;
}
