//
// Project index
//

.project-collage {
  position: relative;
  margin-bottom: 100px;

  @include breakpoint(sm) {
    margin-bottom: 240px;
  }

  @include breakpoint(lg) {
    margin-bottom: 320px;
  }
}

.project-collage-column {
  position: absolute;
}

.project-collage__title-area {
  padding-bottom: 80px;

  @include breakpoint(sm) {
    padding-bottom: 40px;
  }
}

.project-collage__media {
  width: 80%;
  height: 40vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.collage-link {
  display: inline-block;
  text-decoration: none;
}
