//
// Single project
//

body.single-project {
  &:before {
    content: '';
    background-color: $black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
    transition: opacity 1s;
  }

  &.transition-is-ready {
    &:before {
      opacity: 0;
    }
  }

  &.transition-is-complete {
    &:before {
      content: none;
    }
  }

  .header-push {
    margin-bottom: 3em;
  }
}

.entry-title {
  position: relative;
}

.project__featured-image {
  margin-bottom: 3em;
}

.project__description-area {
  margin-bottom: 3em;
}

.project__metadata-wrapper {
  margin-top: 3em;
}
