/////////////////////////////////////////////////////////////////////////
//
// Variables
//
/////////////////////////////////////////////////////////////////////////

// Colors
$black: #000;
$white: #fff;

// Fonts stacks

// Font settings

// Sizes
$space-tiny   : 5px;
$space-small  : 10px;
$space-medium : 20px;
$space-large  : 40px;
$space-huge   : 80px;

$gutter: 20px;

$header-height: 3.4vw;
$header-height-mobile: 50px;

$site-high-z-index: 2000;

// Transitions
$tt: 0.2s;

// Additional breakpoints
$breakpoint-xl: 1600px;
