// Font stacks
$sans-serif: 'calibre_regular', sans-serif;

// Regular
@mixin font--regular {
  font-family: $sans-serif;
  font-size:      20px;
  line-height:    1.2;
  letter-spacing: 0px;

  @include breakpoint(sm) {
    font-size: 32px;
  }

  @include breakpoint(xl) {
    font-size: 36px;
  }
}
.font-regular { @include font--regular; }
