// Font stacks
$sans-serif: 'calibre_regular', sans-serif;

// Regular
@mixin font--regular {
  font-family: $sans-serif;
  font-size:      22px;
  line-height:    1.2;
  letter-spacing: 0px;

  @include breakpoint(sm) {
    font-size: 28px;
  }
}
.font-regular { @include font--regular; }

// Small
@mixin font--small {
  font-family: $sans-serif;
  font-size:      16px;
  line-height:    1.1;
  letter-spacing: 0px;

  @include breakpoint(sm) {
    font-size: 20px;
  }
}
.font-small { @include font--small; }
