///////////////////////////////////////////////////
// Typography Variables
///////////////////////////////////////////////////

// Font stacks
$sans-serif: sans-serif;

///////////////////////////////////////////////////
// Typography definitions
///////////////////////////////////////////////////

// Regular
@mixin font--regular {
  font-family: $sans-serif;
  font-size:      18px;
  line-height:    1.4;
  letter-spacing: 0px;

  @include breakpoint(sm) {
    font-size: 24px;
  }
}

// Small
@mixin font--small {
  font-family: $sans-serif;
  font-size:      14px;
  line-height:    1.4;
  letter-spacing: 0px;

  @include breakpoint(sm) {
    font-size: 18px;
  }
}
